<!--ERROR MESSAGE--------------------------------------------------------------------------------------------->
<% if session[:message].present? then %> <span class="error"><%= session[:message]  %></span><br><br> <% end %>
<!------------------------------------------------------------------------------------------------------------>

<!--SNIPPETS--------------------------------------------------->
<% @snippets.each do |snippet| %>
  <a href="/snippets/<%= snippet.id %>"><%= snippet.title %></a>
  <br>
<% end %>
<!------------------------------------------------------------->

<!--ERROR CLEAR------------->
<% session[:message] = nil %>
<!-------------------------->
