<!--ERROR MESSAGE--------------------------------------------------------------------------------------------->
<% if session[:message].present? then %> <span class="error"><%= session[:message]  %></span><br><br> <% end %>
<!------------------------------------------------------------------------------------------------------------>

<!--LOAD ACE----------------------------------------------->
<script src="/vendor/ace/src/ace.js"></script>
<script src="/vendor/ace/src/ext-settings_menu.js"></script>
<!--------------------------------------------------------->

<!--ACE EDITOR------------------------------------------------------->
<div id="editor"></div>
To open settings panel, inside editor - CTRL+Q (Windows) | CMD+Q (Mac)
<br><br>
<!------------------------------------------------------------------->

<!--FORM------------------------------------------------------------------------------------>
<form action="/snippets/new" method="POST"> 
  <!--content/hidden-->
  <input type="text" name="content" style="display: none;" />
  
  <!--title-->
  Title
  <input type="text" name="title" placeholder=" snippet title" required ></input> <br><br>
  
  <!--existing tags-->
  <% if current_user.tags.any? %>
  
    Select From Existing Tags
    <% current_user.tags.each do |tag| %>
      <input type="checkbox" name="tags[]" value="<%= tag.name %>" > <%= tag.name %> </input>
    <% end %> <br><br>
    
  <% end %>
  
  <!--create tag-->
  Create New Tag
  <input type="text" name="tags[]" placeholder=" tag"></input> <br><br>
  
  <!--submit-->
  <input type="submit" value="Save">
</form>
<!------------------------------------------------------------------------------------------>

<!--CONFIG ACE---------------------------------->
<script src="/vendor/ace/ace-config.js"></script>
<!---------------------------------------------->

<!--ERROR CLEAR------------->
<% session[:message] = nil %>
<!-------------------------->