<!-- LOAD ACE -->
<script src="vendor/ace/src/ace.js"></script>
<script src="vendor/ace/src/ext-settings_menu.js"></script>
<!--------------------------------------------------------->
<!--ACE EDITOR-->
<div id="editor"><%= @snippet.content %></div>
To open settings panel, inside editor - CTRL+Q (Windows) | CMD+Q (Mac)
<!--------------------------------------------------------->


<!--------------------------------------------------------->
<!--CONFIG ACE-->
<script src="/vendor/ace/ace-config.js"></script>