<div id="lsWrapper">
	<div id="ls">
		<label>LOGIN</label>
		<input type="text" name="user[username]" placeholder="Username" form="lsForm" required>
		<input type="password" name="password" placeholder="Password" form="lsForm" required></input>
		
		<a class="btn" href="/signup">SIGN UP</a>
		<input class="btn btn-focus" type="submit" value="LOG IN" form="lsForm">
	</div>
</div>

<!--form hidden-->
<form id="lsForm" action="/login" method="POST">
</form>

