<h1>Log In</h1>

<!--ERROR MESSAGE-->
<% if session[:error].present? then %> <span class="error"><%= session[:error]  %></span><br><br> <% end %>

<!--FORM---------------------------------------------------------------------------------------->
<form action="/login" method="POST"> 
  
  <!--username-->
  <input type="text" name="user[username]" placeholder="username" required></input><br><br>
  
  <!--password-->
  <input type="password" name="password" placeholder="password" required></input><br><br>
  
  <!--submit-->
  <input type="submit" value="Log In">
</form>
<!---------------------------------------------------------------------------------------------->