<!--ERROR MESSAGE----------------------------------------------------------------------------------------->
<% if session[:error].present? then %> <span class="error"><%= session[:error]  %></span><br><br> <% end %>
<!-------------------------------------------------------------------------------------------------------->

<br>
<%= current_user.username %> profile

<!--ERROR CLEAR----------->
<% session[:error] = nil %>
<!------------------------>

