<!--ERROR MESSAGE--------------------------------------------------------------------------------------------->
<% if session[:message].present? then %> <span class="error"><%= session[:message]  %></span><br><br> <% end %>
<!------------------------------------------------------------------------------------------------------------>

<!--USER PROFILE------------------->
<br>
<%= current_user.username %> profile
<!--------------------------------->

<!--ERROR CLEAR------------->
<% session[:message] = nil %>
<!-------------------------->

