<div id="lsWrapper">
	<div id="ls">
        <label>SIGN UP</label>
        <input type="text" name="user[username]" placeholder="username" pattern="[\sa-zA-Z0-9_-]{5,12}" title="Must be between 5-12 alphanumeric characters" form="lsForm" required>
        <input type="email" name="user[email]" placeholder="email" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" title="Must be valid email format eg. this@that.com" form="lsForm" required>
        <input type="password" name="user[password]" placeholder="password" pattern="^.{5,12}$" title="Must be between 5-12 characters"  form="lsForm" required></input>
        
        <a class="btn" href="/login">LOG IN</a>
        <input class="btn btn-focus" type="submit" value="SUBMIT" form="lsForm">
	</div>
</div>

<!--form hidden-->
<form id="lsForm" class="hidden" action="/signup" method="POST">
</form>