<!--ERROR MESSAGE--------------------------------------------------------------------------------------------->
<% if session[:message].present? then %> <span class="error"><%= session[:message]  %></span><br><br> <% end %>
<!------------------------------------------------------------------------------------------------------------>

<!--TAGS---------------->
<% @tags.each do |tag| %>
  <%= tag.name %>
  <br>
<% end %>
<!---------------------->

<!--ERROR CLEAR------------->
<% session[:message] = nil %>
<!-------------------------->
