<!--ERROR MESSAGE----------------------------------------------------------------------------------------->
<% if session[:error].present? then %> <span class="error"><%= session[:error]  %></span><br><br> <% end %>
<!-------------------------------------------------------------------------------------------------------->

<!--TAGS---------------->
<% @tags.each do |tag| %>
  <%= tag.name %>
  <br>
<% end %>
<!---------------------->

<!--ERROR CLEAR----------->
<% session[:error] = nil %>
<!------------------------>
