<!--ERROR MESSAGE--------------------------------------------------------------------------------------------->
<% if session[:message].present? then %> <span class="error"><%= session[:message]  %></span><br><br> <% end %>
<!------------------------------------------------------------------------------------------------------------>

<!--TAGS--------------------------------------------------------->
<br>
<% current_user.tags.each do |tag| %>
  <%= tag.name %> <br>
  
  <!--snippets-->
  <% tag.snippets.each do |snippet| %>
    <a href="/snippets/<%= snippet.id %>"><%= snippet.title %></a> <br>
  <% end %>  
  
  <br>
<% end %>
<!--------------------------------------------------------------->

<!--ERROR CLEAR------------->
<% session[:message] = nil %>
<!-------------------------->
